@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400&family=Press+Start+2P&display=swap");

:root {
  --corFundo: #000000;
  --corPrincipal: rgba(64, 130, 127, 1);
  --corSecundaria: #82C5C1;
  --corTitulo: #61A39F;
}
pre{
  font-family: "MuseoModerno", cursive;
  text-align: center;
}
body{
  color:#fff;
  background-color: var(--corFundo);
  
}
li{
  border: 4px #000000;
  border-radius: 10px;
  box-shadow:12px 12px 23px rgb(0, 123, 255),
  -12px -12px 23px rgb(0, 123, 255);

}

p {
  font-family: "MuseoModerno", cursive;
  font-weight: 400;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 4px 4px;
}


footer {
  font-family: "MuseoModerno", cursive;
  background-color: var(--corTitulo);
}

h2 {
  font-family: "Press Start 2P", cursive;
  background-color: var(--corSecundaria);
  width: 650px;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow:  5px 5px 5px var(--corTitulo),
  -5px -5px 5px var(--corTitulo);
}

img {
  border-radius: 13px;
}

a {
  color:#fff
}

/*CLASS'S*/

.intro-pag {
  height: 200px;
}

.teste {
  font-family: "MuseoModerno", cursive;
}

.titulo-principal {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--corPrincipal);
  padding: 60px;
  font-size: 50px;
}

.conteudo-padrao {
  font-family: "MuseoModerno", cursive;
  font-weight: 400;
  border: 2px solid transparent;
  padding: 25px;
  width: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


.lado {
  display: inline-block;
  width: 48%;
  text-align: center;
  border-radius: 17px;
}



.border {
  border: 3px solid rgb(0, 0, 0);
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 47px;
  box-shadow:8px 8px 15px var(--corSecundaria),
              -8px -8px 15px var(--corTitulo);
  background-color: var(--corPrincipal);
  padding: 60px;
  font-size: 50px;
  border-radius: 10px;
  padding: 20px;
  animation: blinkBorder 2s ease-in-out infinite;
}

@keyframes blinkBorder {
  0% {
    border-color: rgb(23, 98, 102);
  }
  50% {
    border-color: rgba(39, 186, 186, 0.746);
  }
  100% {
    border-color: rgb(26, 106, 141);
  }
}

.buttonClass {
  text-decoration: none;
  font-family: "MuseoModerno", cursive;
  display: inline-block;
  width:200px;
  height:25px;
  border-width:1px;
  border-top-left-radius:10px;
  border-bottom-right-radius:10px;
  color:#fff;
  border-color:3px rgba(0, 0, 0, 0);
  box-shadow: 3px 4px 0px 0px rgb(29, 169, 162);
  background:rgba(64, 130, 127, 1);
}


/*ID's*/


#img2 {
  height: 350px;
    border-radius: 17px;
    background: cyan;
    box-shadow:  15px 15px 15px#61A39F,
    -15px -15px 15px #61A39F;
  }

#img {
  border-radius: 17px;
  background: cyan;
box-shadow:  15px 15px 15px#61A39F,
  -15px -15px 15px #61A39F;
}  

         